<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.simplyapp.max72xx">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>
        <uses-library android:name="com.google.android.things" />
    </application>
</manifest>

